@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root
{
  --background-color-main: #ffffff;
  --background-color-btn: #954a4a;
  --background-color-btn2:#b69292;
}
body
{
    background-image: url(/images/teacherimage.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}
.nav 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    margin-left: 0px;
}
.nav img
{
    font-size: small;
    width: 90px;
}
.nav_logo 
{
    padding: 10px 0;
    margin-right: 620px;
}
.menu_items {
    display: flex;
    list-style: none;
    gap: 20px;
}
a{
    color: #000000;
    text-decoration: none;
}
.globle 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    margin-top: -70px;
}
.btn
{
    border: 2px solid #ff7b00;
    margin: 15px 15px;
    background-color: var(--background-color-btn2);
    border-radius: 10px;
    padding: 14px 26px;
    font-size: 15px;
}
.globle h1{
    color: var(--background-color-btn);
    font-size: 50px;
}