*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial",sans-serif;
}
:root
{
    --background-color-1: #ffffff;
    --background-color-2: #954a4a;
    --background-color-3:#b69292;
}
body
{
    background-color: var(--background-color-1);
    overflow-y: hidden;
}
.hero
{
    background-color: var(--background-color-3);

}
.heading h1 
{
    color: #954a4a;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;

}
.container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.hero-content h1
{
    color: var(--background-color-2);
    margin-top: 15px;
    font-size: 30px;

}
.hero-content p
{
    font-size: 23px;
    margin-top: 15px;
}
.hero-content h2
{
    color: var(--background-color-2);
    margin-top: 15px;
 
}
.hero-content h2:hover
{
      background-color: var(--background-color-3);
      width: 220px;
      height: 40px;
      border-radius: 15px;
}
footer
{
    display: flex;
    width: 400px;
    height: 300px;
   
}
footer img
{
    margin: 50px 50px 50px 70px;
}
.go
{
    font-size: 80px;
}
h3{
    margin-left: 20px;
}
.go-home
{
    margin-top: 80px;
    color: #954a4a;
}